<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/music/plugin/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/music/plugin/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/music/plugin/bootstrap/css/bootstrapValidator.css" rel="stylesheet"/>
    <link href="/music/plugin/bootstrap-show-password/css/zzsc.css" rel="stylesheet">
    <link href="/music/plugin/toastr/toastr.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="#"/>
    <script src="/music/client/common/js/jquery.min.js"></script>
    <script src="/music/plugin/bootstrap/js/bootstrap.js"></script>
    <script src="/music/plugin/bootstrap/js/bootstrapValidator.js"></script>
    <script src="/music/plugin/toastr/toastr.min.js"></script>
    <script src="/music/plugin/bootstrap-show-password/js/bootstrap-show-password.min.js"></script>
</head>
<body>
<div class="modal-dialog" role="document" style="margin-top: 10%">
    <div class="modal-content" style="width: 80%;margin: auto">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="myModalLoginLabel" style="color: #337ab7;font-weight: bolder">用户登录</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="loginForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="account">用户名</label>
                    <div class="col-sm-7">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        <input class="form-control col-sm-10" id="account" name="account" placeholder="请输入用户名" type="text">
                    </div>
                </div>
                <div class="form-group"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="pwd">密码</label>
                    <div class="col-sm-7">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <input class="form-control" id="pwd" name="pwd" placeholder="请输入密码" type="password">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <input class="btn btn-primary col-sm-6 col-sm-offset-3" id="subBtn" type="button" value="登录">
            </div>
            <div class="row">
                <a class="col-md-12 text-center" href="/register" id="reg" style="font-size: 18px;padding: 10px 0 0">没有帐号？注册</a>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="client/common/include::footer"></div>
<script th:src="@{/music/client/common/js/login.js}"></script>
</html>