<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="client/common/include::header('主页')"></div>
<div th:include="client/common/include::admin"></div>
<body>
<div class="login-page" id="wrapper">
    <div class="form" id="login_form">
        <form class="login-form" id="adminfrom">
            <input id="account" placeholder="用户名" type="text"/>
            <input id="pwd" placeholder="密码" type="password"/>
            <button id="login">登　录</button>
        </form>
    </div>
</div>
</body>
<div th:include="client/common/include::footer"></div>
<script type="text/javascript">
    function check_login() {
        let url = "/user/userLogin";
        var admin = {
            "account": $("#account").val(),
            "pwd": $("#pwd").val(),
        }
        $.ajax({
            "url": url,
            method: "post",
            data: admin,
            dataType: 'JSON',
            success: function (res) {
                console.log(res);
                if (res.code === 200) {
                    sessionStorage.setItem("admin", JSON.stringify(res.data));
                    toastr.options.onHidden = function () {
                        window.location.href = "/admin/users";
                    }
                    toastr.success(res.msg);
                } else {
                    toastr.error(res.msg);
                    $("#login_form").removeClass('shake_effect');
                    setTimeout(function () {
                        $("#login_form").addClass('shake_effect')
                    }, 1);
                }
            }
        });
    }

    $(function () {
        $("#login").click(function () {
            check_login();
            return false;
        })
    })
</script>
</html>