<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>管理员登录</title>
    <link href="/music/admin/css/dlzc.css" rel="stylesheet"/>
    <link href="/music/plugin/bootstrap-show-password/css/zzsc.css" rel="stylesheet">
    <script src="/music/client/common/js/jquery.min.js"></script>
    <script src="/music/plugin/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <script src="/music/plugin/bootstrap-3.4.1-dist/js/bootstrapValidator.js"></script>
</head>
<body>
<div class="login-page" id="wrapper">
    <div class="form" id="login_form">
        <form class="login-form" id="adminfrom">
            <input id="account" placeholder="用户名" type="text"/>
            <input id="pwd" placeholder="密码" type="password"/>
            <button id="login">登　录</button>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">
    function check_login() {
        var url = "/adminLogin";
        var admin = {
            "account": $("#account").val(),
            "pwd": $("#pwd").val(),
        }
        $.ajax({
            "url": url,
            method: "post",
            data: admin,
            dataType: 'JSON',
            success: function (data) {
                console.log(data);
                var admin = data;
                if (null != data && "" != data) {
                    alert("登录成功");
                    console.log("登录成功");
                    sessionStorage.setItem("admin", JSON.stringify(data));
                    window.location.href = "/admin/users";
                } else {
                    alert("登录失败");
                    console.log("登录失败");
                    $("#login_form").removeClass('shake_effect');
                    setTimeout(function () {
                        $("#login_form").addClass('shake_effect')
                    }, 1);
                }
            }
        });
    }

    $(function () {
        $("#login").click(function () {
            check_login();
            return false;
        })
    })
</script>
</html>