<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>歌曲管理</title>
    <link href="/music/plugin/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/music/plugin/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/music/plugin/bootstrap/css/bootstrapValidator.css" rel="stylesheet"/>
    <script src="/music/client/common/js/jquery.min.js"></script>
    <script src="/music/plugin/bootstrap/js/bootstrap.js"></script>
    <script src="/music/plugin/bootstrap/js/bootstrapValidator.js"></script>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .body-content {
            margin-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }

        li {
            list-style: none;
        }
    </style>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">管理后台</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin/users"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
                <li><a href="/admin/singers"><span class="glyphicon glyphicon-lock"></span> 歌手管理</a></li>
                <li><a href="/admin/songs"><span class="glyphicon glyphicon-music"></span> 歌曲管理</a></li>
                <li><a href="/admin/albums"><span class="glyphicon glyphicon-cog"></span> 专辑管理</a></li>
                <li><a href="/admin/songLists"><span class="glyphicon glyphicon-user"></span> 歌单管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-cog"></span> Alexander
                    </a>
                </li>
                <li>
                    <a href="#" id="logout">
                        <span class="glyphicon glyphicon-log-out"></span> 退出
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="container">
        <form action="" id="selectForm">
            <div class="form-group col-xs-12 col-sm-2">
                <label class="" for="name">歌曲名：</label>
                <input class="form-control " id="name" placeholder="请输入名称" type="text">
            </div>
            <div class="form-group col-xs-12 col-sm-2">
                <label class="" for="singer">歌手</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                    <select class="form-control singerName" id="singer" name="singer">
                        <option selected="selected" value="">请选择歌手</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-2">
                <label class="" for="playCount">播放次数：</label>
                <input class="form-control " id="playCount" placeholder="请输入名称" type="text">
            </div>
            <div class="form-group col-xs-12 col-sm-2">
                <label class="" for="downloadCount">下载次数：</label>
                <input class="form-control " id="downloadCount" placeholder="请输入名称" type="text">
            </div>
            <div class="form-group col-xs-12 col-sm-2">
                <label class="" for="language1">语种</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                    <select class="form-control" id="language1" name="language ">
                        <option selected="selected" value="">请选择语种</option>
                        <option value="中文">中文</option>
                        <option value="日文">日文</option>
                        <option value="英语">英语</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-2">
                <label class="" for="startDate">开始时间：</label>
                <input class="form-control " id="startDate" placeholder="请输入开始时间" type="text">
            </div>
            <div class="form-group col-xs-12 col-sm-2">
                <label class="" for="endDate">结束时间：</label>
                <input class="form-control " id="endDate" placeholder="请输入结束时间" type="text">
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- 按钮触发模态框 -->
                <button class="btn btn-success" data-target="#songModal" data-toggle="modal" id="getInsertRows"
                        type="button">添加
                </button>
                <table class="table table-condensed table-hover table-striped" data-ajax="true" data-multi-select="true"
                       data-selection="true" data-toggle="bootgrid"
                       data-url="UserSerlvt" id="grid">
                    <thead>
                    <tr>
                        <th daa-align="left">ID</th>
                        <th>歌曲名</th>
                        <th>歌手</th>
                        <th>播放次数</th>
                        <th>下载次数</th>
                        <th>语种</th>
                        <th>专辑</th>
                        <th>发布时间</th>
                        <th>文件路径</th>
                        <th data-align="center">操作</th>
                    </tr>
                    </thead>
                    <tbody id="songTbody">


                    </tbody>

                </table>
                <!--/div-->
            </div>
        </div>
        <label>
            每页
            <select aria-controls="DataTables_Table_0"
                    id="pageSize" name="DataTables_Table_0_length" size="1">
                <option selected="selected" value="1">1</option>
                <option value="2">2</option>
                <option value="5">3</option>
                <option value="100">4</option>
            </select>
            条记录
        </label>
        <!--        分页-->
        <nav aria-label="Page navigation" class="col-md-12 col-md-offset-5 right">
            <ul class="pagination">

            </ul>
        </nav>

    </div>
    <footer class="navbar navbar-fixed-bottom text-center bg-primary">
        <p></p>
    </footer>

</div>
<div class="container">
    <div aria-labelledby="myModalLoginLabel" class="modal fade" id="songModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLoginLabel">添加歌曲页面</h4>
                </div>
                <div class="modal-body">
                    <form id="uploadSongForm">
                        <div class="form-group">
                            <label class="control-label" for="song">歌曲名：</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" id="song" name="song" placeholder="请输入歌曲名称"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="singerName">歌手</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-info-sign"></span></span>
                                <select class="form-control singerName" id="singerName" name="singerId">
                                    <option selected="selected" value="">请选择歌手</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="songPath">歌曲文件：</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></span>
                                <input class="form-control" id="songPath" name="songPath" placeholder="请选择上传的歌曲"
                                       type="file">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="language">语种</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-info-sign"></span></span>
                                <select class="form-control" id="language" name="language">
                                    <option selected="selected" value="">请选择语种</option>
                                    <option value="中文">中文</option>
                                    <option value="日文">日文</option>
                                    <option value="英语">英语</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="albumName">专辑</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-info-sign"></span></span>
                                <select class="form-control" id="albumName" name="albumId">
                                    <option selected="selected" value="">请选择专辑</option>
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">取消</button>
                    <input class="btn btn-primary" data-loading-text="添加..." id="subBtn" type="button" value="添加">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/music/admin/js/isLogin.js"></script>
<script>
    $(function () {
        getSongs(1);
        allSingers();
        allAlbums();
    });
    $("#selectForm").change(function () {
        getSongs(1);
    });
    $("#pageSize").change(function () {
        getSongs(1);
    });

    function getSongs(pageNum) {
        $("#songTbody").empty();
        var url = "/selectSongByExample";
        var data = {
            "song": $("#name").val(),
            "singerId": $(".singerName").val(),
            "playCount": $("#playCount").val(),
            "downloadCount": $("#downloadCount").val(),
            "language": $("#language").val(),
            "startDate": $("#startDate").val(),
            "endDate": $("#endDate").val(),
            "pageNum": pageNum,
            "pageSize": $("#pageSize").val(),
        }
        $.ajax({
            url: url,
            method: "post",
            data: data,
            success: function (data) {
                $(".pagination").empty();
                makePage(data);
                console.log(data);
                var songs = data.list;
                for (var i = 0; i < songs.length; i++) {
                    var $tr = $("<tr>");
                    var $songsId = $("<td>");
                    var $song = $("<td>");
                    var $singerName = $("<td>");
                    var $playCount = $("<td>");
                    var $downloadCount = $("<td>");
                    var $language = $("<td>");
                    var $album = $("<td>");
                    var $time = $("<td>");
                    var $url = $("<td>");
                    var $upd = $("<td>");
                    var $del = $("<td>");
                    console.log(songs[i].songsId);
                    $tr.append($songsId.html(songs[i].songId)).append($song.html(songs[i].song)).append($singerName.html(songs[i].singer.singerName)).append($playCount.html(songs[i].playCount)).append($downloadCount.html(songs[i].downloadCount)).append($language.html(songs[i].language)).append($album.html(songs[i].album.album)).append($time.html(songs[i].time)).append($url.html(songs[i].url)).append($upd.html('<button type="button" class="btn btn-default btn-success btn-sm" onclick="upd(' + songs[i].songId + ')><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑 </button>')).append($del.html('<button type="button" class="btn btn-default btn-danger btn-sm" onclick="del(' + songs[i].songId + ')><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除 </button>'));
                    $("#songTbody").append($tr);
                }
            }
        });
    }


    function allSingers() {
        $.ajax({
            url: "/AllSingers",
            method: "post",
            success: function (data) {
                console.log("歌手", data);
                for (var i = 0; i < data.length; i++) {
                    var $singer = $("<option value=" + data[i].singerId + ">" + data[i].singerName + "</option>");
                    $(".singerName").append($singer)
                }
            }
        });
    };

    function allAlbums() {
        $.ajax({
            url: "/allAlbum",
            method: "post",
            success: function (data) {
                console.log("专辑", data);
                var albums = data.list;
                for (var i = 0; i < albums.length; i++) {
                    var $album = $("<option value=" + albums[i].albumId + ">" + albums[i].album + "</option>");
                    $("#albumName").append($album)
                }
            }
        });
    };

    $("#singerName").change(function () {
        var singerId = $("#singerName").val();
        $.ajax({
            url: "/SelAlbum/" + singerId,
            method: "post",
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var $album = $("<option value=" + data[i].albumId + ">" + data[i].album + "</option>");
                    $("#albumName").append($album)
                }
            }
        });
    });
    $("#subBtn").click(function () {
        var url = "/uploadSong";
        var date = new Date();
        var form = $("#uploadSongForm")[0];
        var time = date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate();
        console.log(time);
        var formData = new FormData(form);
        formData.append("time", time);
        console.log(formData);
        // $('#registerForm').data('bootstrapValidator').validate();//手动开启验证
        // var flag = $('#registerForm').data('bootstrapValidator').isValid();//
        // console.log(flag);
        $.ajax({
            url: url,
            method: "post",
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                if (data == 1) {
                    alert("添加成功");
                    $("#uploadSongForm")[0].reset();
                    $("#songModal").modal("hide");
                    getSongs(1);
                }

            }
        });
    });

    function del(songId) {
        alert(songId)
        $.ajax({
            url: "/delSong/" + songId,
            method: "post",
            success: function (data) {
                console.log(data);
                if (data == 1) {
                    alert("删除成功！");
                    getSongs();
                }
            }
        });
    }

    function upd(songId) {
        alert(songId)
        $.ajax({
            url: "${pageContext.request.contextPath}/delUser/" + songId,
            method: "post",
            success: function (data) {
                console.log(data);
                if (data == 1) {
                    alert("修改成功！");
                    getSongs();
                }
            }
        });
    }

    //分页
    function makePage(data) {
        if (data.list.length != 0) {
            console.log(data)
            var pageNums = data.navigatepageNums;
            if (data.pages == 1) {
                return;
            } else {
                $li = $("<li></li>");
                $btn = $("<a aria-label='Next' href='javascript:getSongs(" + 1 + ");'><span aria-hidden=\"true\">首页</span></a>");
                $li.append($btn);
                $(".pagination").append($li);
            }
            //是否由上一页
            if (data.hasPreviousPage == true) {
                var pageNum = data.pageNum - 1;
                $li = $("<li></li>");
                $btn = $("<a aria-label='Previous' href='javascript:getSongs(" + pageNum + ");'><span aria-hidden=\"true\">&laquo;</span></a>");
                $li.append($btn);
                $(".pagination").append($li);
            } else {
                $li = $("<li class='disabled'></li>");
                $btn = $("<a aria-label='Previous'><span aria-hidden=\"true\">&laquo;</span></a>");
                $li.append($btn);
                $(".pagination").append($li);
            }
            // 页数
            for (var i = 0; i < pageNums.length; i++) {
                var pageNum = pageNums[i];
                $li = $("<li></li>");
                $btn = $("<a href='javascript:getSongs(" + pageNum + ");'>" + pageNum + "</a>");
                $li.append($btn);
                $(".pagination").append($li);
            }
            if (data.hasNextPage == true) {
                var pageNum = data.pageNum + 1;
                $li = $("<li></li>");
                $btn = $("<a aria-label='Next' href='javascript:getSongs(" + pageNum + ");'><span aria-hidden=\"true\">&raquo;</span></a>");
                $li.append($btn);
                $(".pagination").append($li);
            } else {
                $li = $("<li class='disabled'></li>");
                $btn = $("<a aria-label='Next'><span aria-hidden=\"true\">&raquo;</span></a>");
                $li.append($btn);
                $(".pagination").append($li);
            }

            if (data.isLastPage != true) {
                var pageNum = data.pages;
                $li = $("<li></li>");
                $btn = $("<a aria-label='Next' href='javascript:getSongs(" + pageNum + ");'><span aria-hidden=\"true\">尾页</span></a>");
                $li.append($btn);
                $(".pagination").append($li);
            }
        } else {
            $(".pagination").empty();
        }

    }


</script>
</html>