<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="client/common/include::admin_header('用户管理')"></div>
<body>
<!--   header-->
<header class="col-md-12 column" style="padding: 0" th:include="admin/layout/header::head"></header>
<div class="container-fluid">
    <aside class="col-md-1" th:include="admin/layout/aside::aside"></aside>
    <main class="col-md-11">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/admin/index">Home</a></li>
                    <li class="active">用户管理</li>
                </ol>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action=""  id="selectForm">
                            <div class="form-group col-xs-12 col-sm-2 col-md-3 col-lg-2" style="padding-right: 5px">
                                <label class="" for="id">userId</label>
                                <input class="form-control" id="id" placeholder="用户id" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-2 col-md-3 col-lg-2" style="padding-right: 5px">
                                <label class="" for="name">账号</label>
                                <input class="form-control " id="name" placeholder="请输入帐号" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-2 col-md-3 col-lg-2" style="padding-right: 5px">
                                <label class="" for="userphone">电话</label>
                                <input class="form-control " id="userphone" placeholder="请输入电话" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-2 col-md-3 col-lg-2" style="padding-right: 5px">
                                <label class="" for="useremail">邮箱</label>
                                <input class="form-control " id="useremail" placeholder="请输入邮箱" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-2 col-md-3 col-lg-2" style="padding-right: 5px">
                                <label class="" for="sex">性别</label>
                                <select class="form-control" id="sex" name="">
                                    <option selected="selected" value="">不限</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-2 col-md-3 col-lg-1" style="padding-right: 5px">
                                <label class="" for="startDate">开始时间</label>
                                <input class="form-control " id="startDate" placeholder="请输入开始时间" type="date">
                            </div>
                            <div class="form-group col-xs-12 col-sm-2 col-md-3 col-lg-1" style="padding-right: 5px">
                                <label class="" for="endDate">结束时间</label>
                                <input class="form-control " id="endDate" placeholder="请输入结束时间" type="date">
                            </div>
                        </form>
                        <div style="padding: 10px 20px 0">
                            <!-- 按钮触发模态框 -->
                            <button class="btn btn-success"
                                    data-target="#userModal"
                                    data-toggle="modal"
                                    id="getInsertRows"
                                    onclick="init()"
                                    style="margin-top: 10px"
                                    type="button"><i class="glyphicon glyphicon-plus"></i> 添加
                            </button>
                            <button class="btn btn-warning"
                                    id="reset"
                                    onclick="resetForm()"
                                    style="margin-top: 10px"
                                    type="button">重置
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- 示例 -->
                <div class="panel panel-primary">
                    <div class="panel-heading">用户信息</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th data-align="left">ID</th>
                                    <th>头像</th>
                                    <th>账号</th>
                                    <th>密码</th>
                                    <th>昵称</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>帐号类型</th>
                                    <th>个性签名</th>
                                    <th>生日</th>
                                    <th>注册时间</th>
                                    <th data-align="center">操作</th>
                                </tr>
                                </thead>
                                <tbody id="userBox">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="pull-left">
                    总共 <B id="total"></B>条
                    <label for="pageSize">每页</label>
                    <select aria-controls="DataTables_Table_0"
                            id="pageSize"
                            name="DataTables_Table_0_length"
                            size="1">
                        <option selected="selected" value="6">6</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    条记录
                </nav>
                <!--      分页-->
                <nav aria-label="Page navigation" class="pull-right" style="position: relative;top: -26px;">
                    <ul class="pagination pagination-sm">

                    </ul>
                </nav>
            </div>
        </div>
    </main>
</div>
<footer class="text-center">
    <p></p>
</footer>
<!--dialog-->
<div aria-labelledby="myModalLoginLabel" class="modal fade" id="userModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLoginLabel">用户详情页面</h4>
            </div>
            <div class="modal-body">
                <form id="userForm">
                    <div class="row">
                        <div class="form-group userId col-md-4">
                            <label class="control-label" for="account">用户ID</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" id="userId" name="userId" placeholder="请输入用户ID" readonly
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="account">用户名</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" id="account" name="account" placeholder="请输入用户名"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="pwd">密码</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input class="form-control" id="pwd" name="pwd" placeholder="请输入用户密码" type="text">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="phone">昵称</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" id="nickName" name="nickName" placeholder="请输入昵称"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="userName">姓名</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" id="userName" name="userName" placeholder="请输入姓名"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="" for="sex">性别</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                                <select class="form-control" id="sexes" name="sex">
                                    <option selected="selected" value="">请选择性别</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="" for="img">用户头像</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></span>
                                <img class="img-responsive" id="imgSrc" src="" alt="加载失败" />
                                <input class="form-control" id="img" name="img" placeholder="请上传图片" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="phone">手机</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                <input class="form-control" id="phone" name="phone" placeholder="请输入手机号" type="text">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="email">邮箱</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input class="form-control" id="email" name="email" placeholder="请输入用户邮箱"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="" for="birthday">生日</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input class="form-control" id="birthday" name="birthday" placeholder="请输入你的生日"
                                   type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="personalSignature">个性签名</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <textarea class="form-control" id="personalSignature" name="personalSignature"
                                      placeholder="请输入个性签名"
                                      rows="6" type="text"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button">取消</button>
                <input class="btn btn-primary" data-loading-text="添加..." id="subBtn" type="button" value="添加">
            </div>
        </div>
    </div>
</div>
<footer class="navbar navbar-fixed-bottom text-center bg-primary">
    <p>
        <a href="/" rel="noopener noreferrer" target="_blank" title="音乐网站">涛哥音乐</a> powered by <a
            href="https://ltbk.net/" target="_blank">涛哥博客</a>
    </p>
</footer>
</body>
<div th:include="client/common/include::footer"></div>
<script src="/music/admin/js/user.js"></script>
<script src="/music/admin/js/isLogin.js"></script>
</html>