<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="aside">
    <ul class="nav nav-pills nav-stacked" id="menu">
        <li role="presentation">
            <a href="/admin/index">
                <span class="glyphicon glyphicon-home"></span> 首页
            </a>
        </li>
        <li role="presentation">
            <a href="/admin/users">
                <span class="glyphicon glyphicon-user"></span> 用户管理
            </a>
        </li>
        <li role="presentation">
            <a href="/admin/singers">
                <span class="glyphicon glyphicon-user"></span> 歌手管理
            </a>
        </li>
        <li role="presentation">
            <a href="/admin/songs">
                <span class="glyphicon glyphicon-music"></span> 歌曲管理
            </a>
        </li>
        <li role="presentation">
            <a href="/admin/albums">
                <span class="glyphicon glyphicon-cd"></span> 专辑管理
            </a>
        </li>
        <li role="presentation">
            <a href="/admin/songLists">
                <span class="glyphicon glyphicon-list"></span> 歌单管理
            </a>
        </li>
    </ul>
</div>
</body>
</html>