<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/client/common/include::header('主页')"></div>
<body>
<div class="container">
    <div class="row clearfix">
        <!--   header-->
        <header class="col-md-12 column" th:include="/client/common/header::head"></header>
        <!--    轮播图-->
        <div class="col-md-12 column" style="padding-top: 0" th:include="/client/common/carousel::carousel"></div>
    </div>
    <!--  精选歌单-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="recom__title">
                <h2>精选歌单</h2>
                <a href="/songLists">
                    <span class="recom__more">更多&gt;&gt;</span></a>
            </div>
            <hr class="hx">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row" id="songLists" style="padding-left: 20px;padding-right: 20px">

                        <
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--新歌精选-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="recom__title">
                <h2>新歌精选</h2>
                <a href="/musics">
                    <span class="recom__more">更多&gt;&gt;</span></a>
            </div>
            <hr class="hx">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row" id="music" style="padding-left: 20px;padding-right: 20px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  精选专辑-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="recom__title">
                <h2>精选专辑</h2>
                <a href="/albums">
                    <span class="recom__more">更多&gt;&gt;</span></a>
            </div>
            <hr class="hx">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row" id="albums" style="padding-left: 20px;padding-right: 20px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 歌手-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="recom__title">
                <h2>歌手</h2>
                <a href="/singers">
                    <span class="recom__more">更多&gt;&gt;</span></a>
            </div>
            <hr class="hx">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row" id="singerList" style="padding-left: 20px;padding-right: 20px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    footer-->
    <div class="row clearfix">
        <div class="col-md-12 column" th:include="/client/common/footer::footer"></div>
    </div>
    <!--                    <a class="back-to-top" href="#top" style="position: absolute;left: 20px;"> <span class="glyphicon glyphicon-chevron-up"></span>返回 </a>-->

</div>
<iframe frameborder="0" height="280px" id="player" name="play" src=""
        style="position: fixed;bottom: 150px;display: none" width="300px"></iframe>
</body>
<div th:include="/client/common/include::footer"></div>
<script th:src="@{/music/client/common/js/index.js}"></script>
</html>