<!DOCTYPE html>
<html lang="en">
<div th:replace="/client/common/include::header('专辑详情页面')"></div>
<body>
<div class="container" id="songList">
    <a href="/">
        <h1 class="songList__logo">音乐网站</h1>
    </a>
    <div class="songList__header">
        <div class="songList__bg"></div>
        <div class="row">
            <div class="col-md-12">
                <dl class="col-md-12" style="padding-left: 0">
                    <dt class="col-md-4" style="padding-left: 0"><img
                            style="width: 300px;height: 300px;background-color: white;box-shadow: 1px 1px #eee;border-radius: 10px; padding: 20px;"
                            src="" id="songListImg" class="pull-left"></dt>
                    <div class="col-md-8 pull-left" style="margin-top: 0px;">
                        <dd><h3 class="songList__name">一秒倾心! </h3></dd>
                        <dd style="line-height: 40px;" class="singer">
                            歌手
                        </dd>
                        <dd>

                        </dd>
                        <dd><h3 class="text-left">专辑介绍：</h3>
                            <p id="introduction" class="text-left" style="line-height: 30px">
                                一秒倾心！盘点那些流行于网络，超级好听的神仙翻唱。
                            </p>
                        </dd>
                        <dd></dd>
                        <dd class="pull-left">
                            <a id="playAll" target="play" title="播放全部" href="#">
                                <button class="btn btn-success"><span class="glyphicon glyphicon-play"></span> 播放全部
                                </button>
                            </a>
                            <button class="btn btn-primary" id="collectAlbum">
                                <span title="收藏歌单" class="glyphicon glyphicon-heart-empty"></span> 收藏
                            </button>
                        </dd>
                        <dd class="pull-right text-right" style="margin-top: 10px">
                            <span class="glyphicon glyphicon-time"></span>
                            发行时间：<span id="time" style="margin-right: 80px"></span>
                            发行机构：<span id="company"></span>
                        </dd>

                    </div>

                </dl>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row" style="height:374px">
        <h1>包含歌曲 <small class="songList__number"> 7首歌</small></h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <td>序号</td>
                <td>歌曲标题</td>
                <td>收藏</td>
                <td>操作</td>
            </tr>

            </thead>
            <tbody class="text-left" style="height:80px" id="songs">

            </tbody>
        </table>
    </div>
    <!--分页-->
    <div th:include="/client/common/page::page"></div>
    <!-- footer-->
    <div th:include="/client/common/footer::footer"></div>
</div>
<iframe src="" style="position: fixed;bottom: 150px;" width="300px" height="40%" name="play" frameborder="0"></iframe>
<div th:include="/client/common/include::footer"></div>
<script src="/music/client/album/js/album.js"></script>
</body>
</html>