	.singers{
			width: 1020px;
			
			margin:0 auto;
		}
		.tupian{
			width: 170px;
			height: 195px;
			float:left;
		}
		.p1{
			width: 170px;
			height: 171px;
			background-size: contain;
		}
		.b1{
			position: relative;
			left:100px;
			top:1px;
		}

