<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/client/common/include::header('歌手页面')"></div>
<body>
<div class="container">
    <div class="row clearfix">
        <!--   header-->
        <header class="col-md-12 column" th:include="/client/common/header::head"></header>
        <!--    轮播图-->
        <div class="col-md-12 column" style="padding-top: 0" th:include="/client/common/carousel::carousel"></div>
    </div>
    <!-- 歌手-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="recom__title">
                <h1>歌手 <small>全部（<span class="num"></span>）</small></h1>
            </div>
            <hr class="hx">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row" id="singerList" style="padding-left: 20px;padding-right: 20px">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <!--分页-->
        <div class="col-md-12 column" th:include="/client/common/page::page"></div>
        <!-- footer-->
        <div class="col-md-12 column" th:include="/client/common/footer::footer"></div>
    </div>
</div>
</body>
<div th:include="/client/common/include::footer"></div>
<script th:src="@{/music/client/singer/js/singers.js}"></script>
</html>