<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.AdminMapper">
  <resultMap id="BaseResultMap" type="com.edu.bean.Admin">
    <id column="super_id" jdbcType="INTEGER" property="superId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where super_id = #{superId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edu.bean.Admin">
    insert into admin (super_id, user_name, account, 
      pwd, type)
    values (#{superId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.edu.bean.Admin">
    update admin
    set user_name = #{userName,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where super_id = #{superId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select super_id, user_name, account, pwd, type
    from admin
    where super_id = #{superId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select super_id, user_name, account, pwd, type
    from admin
  </select>
  <select id="selectByAccountAndPwd" resultMap="BaseResultMap">
    select * from admin
    where   account = #{account,jdbcType=VARCHAR}
    and pwd = #{pwd,jdbcType=VARCHAR}
  </select>

  <select id="selectByAccount" resultMap="BaseResultMap">
    select * from user
    where   account = #{account,jdbcType=VARCHAR}
  </select>
</mapper>