<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ltbk.music.mapper.SingerMapper">
    <resultMap id="BaseResultMap" type="net.ltbk.music.bean.Singer">
        <id column="singer_id" jdbcType="INTEGER" property="singerId"/>
        <result column="singer_name" jdbcType="VARCHAR" property="singerName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
    </resultMap>

    <resultMap id="singer" type="net.ltbk.music.bean.Singer" extends="BaseResultMap">
        <collection property="songs" ofType="net.ltbk.music.bean.Song">
            <id column="song_id" jdbcType="INTEGER" property="songId"/>
            <result column="song" jdbcType="VARCHAR" property="song"/>
            <result column="singer_id" jdbcType="INTEGER" property="singerId"/>
            <result column="play_count" jdbcType="INTEGER" property="playCount"/>
            <result column="download_count" jdbcType="INTEGER" property="downloadCount"/>
            <result column="url" jdbcType="VARCHAR" property="url"/>
            <result column="language" jdbcType="VARCHAR" property="language"/>
            <result column="album_id" jdbcType="INTEGER" property="albumId"/>
            <result column="time" jdbcType="DATE" property="time"/>
        </collection>
        <collection property="albums" ofType="net.ltbk.music.bean.Album">
            <id column="album_id" jdbcType="INTEGER" property="albumId"/>
            <result column="album" jdbcType="VARCHAR" property="album"/>
            <result column="singer_id" jdbcType="INTEGER" property="singerId"/>
            <result column="album_img" jdbcType="VARCHAR" property="albumImg"/>
            <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
            <result column="company" jdbcType="VARCHAR" property="company"/>
            <result column="time" jdbcType="DATE" property="time"/>
        </collection>
    </resultMap>
    <insert id="add" parameterType="net.ltbk.music.bean.Singer">
        insert into singer (singer_name, sex,
                            img_url, birthday, introduction)
        values (#{singerName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
                #{imgUrl,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{introduction,jdbcType=VARCHAR})
    </insert>
    <!--根据歌手id，进行删除-->
    <delete id="del" parameterType="java.lang.Integer">
        delete
        from singer
        where singer_id = #{singerId,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="net.ltbk.music.bean.Singer">
        update singer
        <set>
            <if test="singer.singerName != null and singer.singerName !=''">
                singer_name = #{singer.singerName,jdbcType=VARCHAR},
            </if>
            <if test="singer.sex != null and singer.sex !=''">
                sex = #{singer.sex,jdbcType=VARCHAR},
            </if>
            <if test="singer.imgUrl != null and singer.imgUrl !=''">
                img_url = #{singer.imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="singer.intrduction != null and singer.intrduction !=''">
                introduction = #{singer.introduction,jdbcType=VARCHAR},
            </if>
            <if test="singer.birthday != null">
                birthday = #{singer.birthday,jdbcType=DATE},
            </if>
        </set>
        where singer_id = #{singer.singerId,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select singer_id, singer_name, sex, img_url, birthday, introduction
        from singer
        where singer_id = #{singerId,jdbcType=INTEGER}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select singer_id, singer_name, sex, img_url, birthday, introduction
        from singer
    </select>

    <select id="selectAllBySingerId" resultMap="singer">
        select singer_id, singer_name, sex, img_url, birthday, introduction, count(*) as count
        from singer a,
             song b,
             album c
        where c.album_id = b.album_id
          and b.singer_id = a.singer_id
          and a.singer_id = #{singerId,jdbcType=INTEGER}
    </select>

    <select id="page" resultMap="BaseResultMap">
        select
        singer_id, singer_name, sex, img_url, birthday, introduction
        from singer
        <where>
            <if test="singer.singerId != null and singer.singerId !=''">
                singer_id = #{singer.singerId,jdbcType=INTEGER}
            </if>
            <if test="singer.singerName != null and singer.singerName !=''">
                and singer_name = #{singer.singerName,jdbcType=VARCHAR}
            </if>
            <if test="singer.sex != null and singer.sex !=''">
                and sex = #{singer.sex,jdbcType=VARCHAR}
            </if>
            <if test="singer.imgUrl != null and singer.imgUrl !=''">
                and img_url = #{singer.imgUrl,jdbcType=VARCHAR}
            </if>
            <if test="singer.introduction != null and singer.introduction !=''">
                and introduction = #{singer.introduction,jdbcType=VARCHAR}
            </if>
            <if test="start != null">
                and birthday >= #{start}
            </if>
            <if test="end != null">
                and birthday &lt;= #{end}
            </if>
        </where>
    </select>

</mapper>