<!DOCTYPE html>
<html lang="en">
<div th:replace="client/common/include::header('歌单详情页面')"></div>
<body>
<div class="container" id="songList">
    <a href="/">
        <h1 class="songList__logo">涛哥音乐</h1>
    </a>
    <div class="row">
        <div class="col-md-12">
            <div class="media">
                <div class="media-left media-heading  col-xs-12 col-sm-6 col-md-4 ">
                    <a href="#">
                        <img alt="..."
                             class="media-object img-responsive"
                             id="songListImg" src=""
                             style="background-color: white;box-shadow: 2px 2px #eee;border-radius: 10px; padding: 20px;">
                    </a>
                </div>
                <div class="media-body media-right  col-xs-12 col-sm-6 col-md-8 ">
                    <div class="media-left col-xs-12 col-sm-6 col-md-6">
                        <h3 class="media-middle songList__name">Media heading</h3>
                        <br><br>
                        <p>分类：<span id="fenLei"></span></p>
                        <p><span class="glyphicon glyphicon-user"></span>创建人：<span id="user"></span></p>
                        <p> 创建时间：<span class="glyphicon glyphicon-time"></span><span id="time"></span></p>
                        <br>
                        <p><a href="#" id="playAll" target="play" title="播放全部">
                            <button class="btn btn-success"><span class="glyphicon glyphicon-play"></span>
                                播放全部
                            </button>
                        </a>
                            <button class="btn btn-primary" id="collectSongList">
                                <span class="glyphicon glyphicon-heart-empty" title="收藏歌单"></span> 收藏
                            </button>
                        </p>
                    </div>
                    <div class="media-right  col-xs-12 col-sm-6 col-md-6">
                        <h2 class="media-middle">介绍：</h2>
                        <p id="introduction">
                            一秒倾心！盘点那些流行于网络，超级好听的神仙翻唱。
                        </p>
                    </div>
                </div>
            </div>
            <h1>包含歌曲 <small class="songList__number"> 7首歌</small></h1>
            <table class="table table-hover col-md-12 col-xs-12 col-sm-12 ">
                <thead>
                <tr>
                    <td>序号</td>
                    <td>歌曲图片</td>
                    <td>歌曲标题</td>
                    <td>歌手</td>
                    <td>专辑</td>
                    <td>收藏</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody class="text-left" id="music" style="height:80px">


                </tbody>
            </table>
        </div>
    </div>
    <!--分页-->
    <div th:include="client/common/page::page"></div>
</div>
<!-- footer-->
<footer class="footer_copyright col-md-12 col-xs-12 col-sm-12" th:include="client/common/footer::footer"></footer>
<iframe frameborder="0" height="280px" id="player" name="play" src=""
        style="position: fixed;bottom: 150px;display: none" width="300px"></iframe>
<div th:include="client/common/include::footer"></div>
<script th:src="@{/music/client/songList/js/songlist.js}"></script>
</body>
</html>