<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="client/common/include::header('歌单页面')"></div>
<body>
<!--   header-->
<header class="col-md-12 column" style="padding: 0"
        th:include="client/common/header::head(active='songLists')"></header>
<!--main-->
<main class="container">
    <div class="row clearfix">
        <!--    轮播图-->
        <div class="col-md-12 column" style="padding-top: 0" th:include="client/common/carousel::carousel"></div>
    </div>
    <!--  精选歌单-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="recom__title">
                <h1>歌单 <small>全部（<span class="num"></span>）</small></h1>
            </div>
            <hr class="hx">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button aria-expanded="false" class="navbar-toggle collapsed"
                                data-target="#bs-example-navbar-collapse-1"
                                data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav simplefilter">
                            <li class="active" data-filter="all">全部</li>
                            <li data-filter="1">华语</li>
                            <li data-filter="2">欧美</li>
                            <li data-filter="3">流行</li>
                            <li data-filter="4">电子</li>
                            <li data-filter="5">治愈</li>
                            <li data-filter="6">安静</li>
                            <li data-filter="7">清新</li>
                        </ul>
                        <form class="navbar-form navbar-right" style="margin-right: 30px">
                            <div class="form-group input-group input-group-sm">
                                <input class="form-control filtr-search" placeholder="搜索类别" type="text">
                                <span class="input-group-btn">
                                <a class="btn btn-info">
                                    <span class="glyphicon glyphicon-search"></span>搜索
                                </a>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-md-12 column">
                    <div class="row" id="songLists" style="padding-left: 10px">

                    </div>
                </div>
                <!--分页-->
                <div class="col-md-12 column" th:include="client/common/page::page"></div>
            </div>
        </div>
    </div>
</main>
<!--footer-->
<footer class="footer_copyright col-md-12 col-xs-12 col-sm-12" th:include="client/common/footer::footer"></footer>
</body>
<div th:include="client/common/include::footer"></div>
<script th:src="@{/music/client/songList/js/songlists.js}"></script>
<script th:src="@{/music/client/songList/js/jquery.filterizr.min.js}"></script>
<script th:src="@{/music/client/songList/js/controls.js}"></script>
</html>